{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

    <div class="auth-box">
        <h1>Вход</h1>
        <p class="subtitle">Войдите в админ-панель</p>

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(placeholder="example@email.com") }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(placeholder="••••••••") }}
            </div>

            <div class="remember">
                {{ form.remember_me }}
                {{ form.remember_me.label }}
            </div>

            {{ form.submit(class="btn-submit") }}
        </form>

        <p class="switch">
            Нет аккаунта? <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
        </p>
    </div>

{% endblock %}