/* sys_monitor.css */



main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    padding: 0 1rem;
}

.log-container {
    flex: 1;
    background: #0f172a;
    color: #22c55e;
    overflow-y: auto;
    padding: 15px;
    font-family: monospace;
    border-radius: 8px;
    box-sizing: border-box;
}


.log-line {
    white-space: pre-wrap;
    margin: 0;
}