<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Системный монитор</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/sys_monitor.css">
</head>

<body class="bg-gray-950 text-gray-100">
    {% include "components/header.html" %}


    <span class="mt-3 inline-block text-xs text-gray-500">Скоро</span>


    <script src="/static/js/flash.js"></script>
    <script src="/static/js/sys_monitor.js"></script>
    {% include 'components/footer.html' %}
</body>

</html>